body {
    background-image: url('./Img/mario.png');
    background-size: cover;
    background-repeat: no-repeat;
  
    background-position: center;
   background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-items: center;
    font-family: 'Press Start 2P', cursive;
  
}

#root {
    width: 100%;
  overflow-x: hidden;
    
}