.section-playstation {
    
        background-image: url(../Img/playstation.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        padding-top: 50px;
        font-family: 'Audiowide', cursive;
        text-align: center;
        
        
        
        
     
}